<div class="container" fxLayout>
  <div fxFlex fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="130px">
    <a routerLink="/game"><button mat-raised-button>Juego</button></a>
    <a routerLink="/game"><button mat-raised-button>Juego</button></a>
    <a routerLink="/game"><button mat-raised-button>Juego</button></a>
    <a routerLink="/game"><button mat-raised-button>Juego</button></a>
    <a routerLink="/game"><button mat-raised-button>Juego</button></a>
    <a routerLink="/game"><button mat-raised-button>Juego</button></a>
    <a routerLink="/game"><button mat-raised-button>Juego</button></a>
  </div>
  <div fxFlex fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="130px">
    <a routerLink="/game"><button mat-raised-button>Juego</button></a>
    <a routerLink="/game"><button mat-raised-button>Juego</button></a>
    <a routerLink="/game"><button mat-raised-button>Juego</button></a>
    <a routerLink="/game"><button mat-raised-button>Juego</button></a>
    <a routerLink="/game"><button mat-raised-button>Juego</button></a>
    <a routerLink="/game"><button mat-raised-button>Juego</button></a>
    <a routerLink="/game"><button mat-raised-button>Juego</button></a>
  </div>
  <div fxFlex fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="130px">
    <a routerLink="/game"><button mat-raised-button>Juego</button></a>
    <a routerLink="/game"><button mat-raised-button>Juego</button></a>
    <a routerLink="/game"><button mat-raised-button>Juego</button></a>
    <a routerLink="/game"><button mat-raised-button>Juego</button></a>
    <a routerLink="/game"><button mat-raised-button>Juego</button></a>
    <a routerLink="/game"><button mat-raised-button>Juego</button></a>
    <a routerLink="/game"><button mat-raised-button>Juego</button></a>
  </div>
</div>