* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header{
    position: sticky;
    top: 0;
    z-index: 999;
}

.background{
    background-image: url(../assets/img/background2.png);
    padding: 90px 0 50px;
    min-height: 60%;
}

.bottom{
}