<div fxLayout="row">
  <div fxFlex="40"></div>
  <mat-card class="m-5" style="background-color: rgba(7, 0, 0, 0.603)" fxFlex="20">
    <mat-card-title class="mb-5">
      <p class="display-4 text-center" style="font-weight: bold;">Opciones</p>
    </mat-card-title>
    <mat-card-content class="align-center">
      <p class="h3 mb-5 text-center">Cambiar datos</p>
      <form style="width: 100%;">
        <mat-form-field style="width: 100%;">
          <input matInput placeholder="Favorite food" value="Sushi">
        </mat-form-field>
        <br>
        <mat-form-field style="width: 100%;">
          <textarea matInput placeholder="Leave a comment"></textarea>
        </mat-form-field>
      </form>
    </mat-card-content>

  </mat-card>
</div>