<div class="p-5">
    <div fxLayout="row" fxLayoutAlign="end">
        <button mat-raised-button type="button" class="btn btn-outline-primary" (click)="enviar()">
            PUBLICAR<i class="material-icons" id="add">add_circle_outline</i>
        </button>
    </div>
    <mat-card class="ventana" *ngFor="let noticia of noticias">
        <mat-card-header class="tituloVentana">
            <div class="titulo">
                <h1>{{noticia.TITULO_ENTRADA}}</h1>
            </div>
        </mat-card-header>
        <mat-card-content class="contenidoVentana">
            <p>{{noticia.DESCRIPCION_TEXTO}}</p>
        </mat-card-content>
        <mat-card-actions class="px-5">
            <p class="font-italic text-right" style="color: rgba(255, 255, 255, 0.719);">
                {{noticia.USUARIO.NICK_USUARIO}} - {{formatearFecha(noticia.created_at)}}</p>
        </mat-card-actions>
    </mat-card>
</div>