<div class="container" fxLayout>
  <div fxFlex>
    <div fxFlex fxLayout="column" fxLayoutAlign="center" fxFlexOffset="50px">
      <button class="logo" mat-icon-button>
        <a routerLink=""><img class="logo" src="../../assets/img/logo.png"></a>
      </button>
    </div>
  </div>
  <div fxFlex="20%" fxLayoutAlign="center">
    <div fxLayout="column" fxLayoutAlign="center">
      <button mat-icon-button color="accent" [matMenuTriggerFor]="menuOut">
        <mat-icon>
          account_circle
        </mat-icon>
      </button>
    </div>
    <div fxLayout="column" fxLayoutAlign="center">
      <button mat-icon-button color="accent" [matMenuTriggerFor]="menuIn">
        <mat-icon>
          account_circle
        </mat-icon>
      </button>
    </div>
    <div fxLayout="column" fxLayoutAlign="center">
      <button mat-icon-button color="accent" [matMenuTriggerFor]="menuInEsp">
        <mat-icon>
          account_circle
        </mat-icon>
      </button>
    </div>
  </div>
</div>


<!-- Cuando esten configurados los registros de usuarios se configurará un solo menu 
  y se cambiaran los hidden-div's segun si está registrado o no y que tipo de usuario sea -->

<mat-menu class="menu" #menuOut="matMenu">
  <div>
    <a id="menu" routerLink="">
      <button mat-menu-item>
        <span>Pagina de inicio</span>
      </button>
    </a>
  </div>
  <div>
    <button mat-menu-item (click)="openLogIn()">
      <span>Iniciar Sesion</span>
    </button>
  </div>
  <div>
    <button mat-menu-item (click)="openRegister()">
      <span>Registrarse</span>
    </button>
  </div>
  <div hidden>
    <a id="menu" routerLink="/configuration">
      <button mat-menu-item>
        <span>Configuracion & Perfil</span>
      </button>
    </a>
  </div>
  <div hidden>
    <button mat-menu-item>
      <span>Administrador</span>
    </button>
  </div>
  <div>
    <a id="menu" routerLink="">
      <button mat-menu-item>
        <span>Cerrar sesion</span>
      </button>
    </a>
  </div>
</mat-menu>

<mat-menu #menuIn="matMenu">
  <div>
    <a id="menu" routerLink="">
      <button mat-menu-item>
        <span>Pagina de inicio</span>
      </button>
    </a>
  </div>
  <div hidden>
    <button mat-menu-item (click)="openLogIn()">
      <span>Iniciar Sesion</span>
    </button>
  </div>
  <div hidden>
    <button mat-menu-item (click)="openRegister()">
      <span>Registrarse</span>
    </button>
  </div>
  <div>
    <a id="menu" routerLink="/configuration">
      <button mat-menu-item>
        <span>Configuracion & Perfil</span>
      </button>
    </a>
  </div>
  <div hidden>
    <button mat-menu-item>
      <span>Administrador</span>
    </button>
  </div>
  <div>
    <a id="menu" routerLink="">
      <button mat-menu-item>
        <span>Cerrar sesion</span>
      </button>
    </a>
  </div>
</mat-menu>

<mat-menu #menuInEsp="matMenu">
  <div>
    <a id="menu" routerLink="">
      <button mat-menu-item>
        <span>Pagina de inicio</span>
      </button>
    </a>
  </div>
  <div hidden>
    <button mat-menu-item (click)="openLogIn()">
      <span>Iniciar Sesion</span>
    </button>
  </div>
  <div hidden>
    <button mat-menu-item (click)="openRegister()">
      <span>Registrarse</span>
    </button>
  </div>
  <div>
    <a id="menu" routerLink="/configuration">
      <button mat-menu-item>
        <span>Configuracion & Perfil</span>
      </button>
    </a>
  </div>
  <div>
    <a id="menu" routerLink="/administration">
      <button mat-menu-item>
        <span>Administrador</span>
      </button>
    </a>
  </div>
  <div>
    <a id="menu" routerLink="">
      <button mat-menu-item>
        <span>Cerrar sesion</span>
      </button>
    </a>
  </div>
</mat-menu>