<div fxLayout="row" fxLayoutAlign="end">
    <button mat-mini-fab type="button" class="btn btn-outline-primary" (click)="close()">
        <i class="material-icons" *ngIf="!isCollapsed">clear</i>
    </button>
</div>
<div id="SepVer15"></div>
<div class="container2" fxLayoutAlign="center">
    <mat-form-field class="campo" appearance="outline">
        <mat-label>Titulo del juego</mat-label>
        <input matInput placeholder="Titulo del juego" type="text" maxlength="30" [formControl]="titulo">
        <!--<mat-error *ngIf="email.invalid">hjk</mat-error>-->
    </mat-form-field>
</div>
<div id="SepVer10"></div>
<div class="container2" fxLayoutAlign="center">
    <mat-form-field class="campo" appearance="outline">
        <mat-label>Descripcion del juego</mat-label>
        <textarea id="campo2" matInput matTextareaAutosize placeholder="Descripcion del juego" type="text"
            maxlength="800" [formControl]="descripcion"></textarea>
        <!--<mat-error *ngIf="password.invalid">Se require contraseña</mat-error>-->
    </mat-form-field>
</div>
<div fxLayout="column">
    <div fxLayout="row" fxFlex fxLayoutAlign="center">
        <button id="buttonLogReg" mat-raised-button [disabled]="titulo.invalid || descripcion.invalid"
            (click)="create()">Publicar</button>
    </div>
</div>