<div class="p-5">
    
    <div fxLayout="row" fxLayoutAlign="end" >
        <button mat-fab type="button" class="btn btn-outline-primary" (click)="enviar()">
            <i class="material-icons" *ngIf="!isCollapsed">add_circle_outline</i>
        </button>
    </div>

    <mat-card class="ventana">
        <mat-card-header class="tituloVentana">
            <div class="titulo">
                <h1>COMO CONSEGUIR UNA PENTA CON M.YI</h1>
            </div>
        </mat-card-header>
        <mat-card-content class="contenidoVentana">
            <p>
                Suda de tu equipo y farmea todo lo que puedas, gankea solo si ves alguna linea facil de ganar mientras
                esperas a tener uno o dos objetos,
                despues busca otros jugadores enemigos aprieta la R y a continuación clica con el boton derecho sobre el
                personaje que deseas exterminar.
            </p>
        </mat-card-content>
        <mat-card-content class="botonesVentana">
            <button mat-button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
                [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                <i class="material-icons" *ngIf="!isCollapsed">add</i>
                <i class="material-icons" *ngIf="isCollapsed">remove</i>
            </button>
        </mat-card-content>
    </mat-card>
    <div id="collapseExample" [ngbCollapse]="!isCollapsed">
        <mat-card class="ventana2">
            <mat-card-header class="tituloVentana">
                <div class="titulo">
                    <h1>BUENA EXPLICACION</h1>
                </div>
            </mat-card-header>
            <mat-card-content class="contenidoVentana2">
                <p>
                    Buena guía, con tu connsejo he conseguido ya 400 pentakills, gracias.
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="ventana2">
            <mat-card-header class="tituloVentana">
                <div class="titulo">
                    <h1>BUENO</h1>
                </div>
            </mat-card-header>
            <mat-card-content class="contenidoVentana2">
                <p>
                    Buena guía, aunque apretar la R creo que no es necesario del todo.
                </p>
            </mat-card-content>
        </mat-card>
    </div>

    <mat-card class="ventana">
        <mat-card-header class="tituloVentana">
            <div class="titulo">
                <h1>COMO CONSEGUIR UNA PENTA CON M.YI</h1>
            </div>
        </mat-card-header>
        <mat-card-content class="contenidoVentana">
            <p>
                Suda de tu equipo y farmea todo lo que puedas, gankea solo si ves alguna linea facil de ganar mientras
                esperas a tener uno o dos objetos,
                despues busca otros jugadores enemigos aprieta la R y a continuación clica con el boton derecho sobre el
                personaje que deseas exterminar.
            </p>
        </mat-card-content>
        <mat-card-content class="botonesVentana">
            <button mat-button type="button" class="btn btn-outline-primary" (click)="isCollapsed2 = !isCollapsed2"
                [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                <i class="material-icons" *ngIf="!isCollapsed2">add</i>
                <i class="material-icons" *ngIf="isCollapsed2">remove</i>
            </button>
        </mat-card-content>
    </mat-card>
    <div id="collapseExample" [ngbCollapse]="!isCollapsed2">
        <mat-card class="ventana2">
            <mat-card-header class="tituloVentana">
                <div class="titulo">
                    <h1>BUENA EXPLICACION</h1>
                </div>
            </mat-card-header>
            <mat-card-content class="contenidoVentana2">
                <p>
                    Buena guía, con tu connsejo he conseguido ya 400 pentakills, gracias.
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="ventana2">
            <mat-card-header class="tituloVentana">
                <div class="titulo">
                    <h1>BUENO</h1>
                </div>
            </mat-card-header>
            <mat-card-content class="contenidoVentana2">
                <p>
                    Buena guía, aunque apretar la R creo que no es necesario del todo.
                </p>
            </mat-card-content>
        </mat-card>
    </div>

    <mat-card class="ventana">
        <mat-card-header class="tituloVentana">
            <div class="titulo">
                <h1>COMO CONSEGUIR UNA PENTA CON M.YI</h1>
            </div>
        </mat-card-header>
        <mat-card-content class="contenidoVentana">
            <p>
                Suda de tu equipo y farmea todo lo que puedas, gankea solo si ves alguna linea facil de ganar mientras
                esperas a tener uno o dos objetos,
                despues busca otros jugadores enemigos aprieta la R y a continuación clica con el boton derecho sobre el
                personaje que deseas exterminar.
            </p>
        </mat-card-content>
        <mat-card-content class="botonesVentana">
            <button mat-button type="button" class="btn btn-outline-primary" (click)="isCollapsed3 = !isCollapsed3"
                [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                <i class="material-icons" *ngIf="!isCollapsed3">add</i>
                <i class="material-icons" *ngIf="isCollapsed3">remove</i>
            </button>
        </mat-card-content>
    </mat-card>
    <div id="collapseExample" [ngbCollapse]="!isCollapsed3">
        <mat-card class="ventana2">
            <mat-card-header class="tituloVentana">
                <div class="titulo">
                    <h1>BUENA EXPLICACION</h1>
                </div>
            </mat-card-header>
            <mat-card-content class="contenidoVentana2">
                <p>
                    Buena guía, con tu connsejo he conseguido ya 400 pentakills, gracias.
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="ventana2">
            <mat-card-header class="tituloVentana">
                <div class="titulo">
                    <h1>BUENO</h1>
                </div>
            </mat-card-header>
            <mat-card-content class="contenidoVentana2">
                <p>
                    Buena guía, aunque apretar la R creo que no es necesario del todo.
                </p>
            </mat-card-content>
        </mat-card>
    </div>

</div>