<div class="p-5">
    <ul id="grid-wrapper">

        <li class="ventana">
            <div class="tituloVentana" fxLayout="column">
                <h1 class="titulo">FORO</h1>
            </div>
        </li>

        <mat-card class="ventana" fxLayout="column" fxLayoutAlign=" none" >
            <mat-card-header class="tituloVentana">
                <div class="titulo">
                    <h1>GUIAS GUIAS GUIAS GUIAS GUIAS GUIAS </h1>
                </div>
            </mat-card-header>
            <mat-card-content>
                <p>
                    sadf sdfsadf sadfsad asdfsadfasdf sadfsadfsadf asdfsadf sadf sadfsadf sadfsdfsadf sadfsdaf sdfsadf sdfsd sadfsad sd fsad fasdf asdfsadf
                    asdf sdafsdf sadfsadfsa dfsadf sadfasdfqweasf asdfsa dfsadf sad sad sadfjh khgaskdufybhsadf sa dfsadfsad fsadfjvkhgvkhgvkghvj hvjhvkhj vkjhvojhv
                    kjhvkjhvjh vjhvkjhv kjhvkjhvkj hvkjhvjh vjhvjh vjhv jhv jhvjhvjkhvjhvkj
                </p>
            </mat-card-content>
        </mat-card>

        <li class="ventana">
            <div class="tituloVentana" fxLayout="column">
                <h1 class="titulo">NOTICIAS & ACTUALIZACIONES</h1>
            </div>
        </li>

        <li class="ventana">
            <div class="tituloVentana" fxLayout="column">
                <h1 class="titulo">SOPORTE</h1>
            </div>
        </li>
    </ul>
</div>