<div id="footer" fxLayout="column" fxLayoutGap="50px">
  <div fxLayout="row" style="color: white;">
    <div fxFlex fxLayoutAlign="center">
      <a style="color: white;" target="blank" href="https://twitter.com/"><mat-icon svgIcon="twitter"></mat-icon></a>
    </div>
    <div fxFlex fxLayoutAlign="center">
      <a style="color: white;" target="blank" href="https://www.facebook.com/"><mat-icon svgIcon="facebook"></mat-icon></a>
    </div>
    <div fxFlex fxLayoutAlign="center">
      <a style="color: white;" target="blank" href="https://www.instagram.com/?hl=es"><mat-icon svgIcon="instagram"></mat-icon></a>
    </div>
    <div fxFlex fxLayoutAlign="center">
      <a style="color: white;" target="blank" href="https://aboutme.google.com/"><mat-icon svgIcon="googleplus"></mat-icon></a>
    </div>
  </div>
  <div id="grisFooter" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="10px">
    <div id="designBy">Design by: </div>
    <div style="color: lightsteelblue;">Armando Ibán & Iván Dominguez</div>
  </div>
</div>