<div id="footer" fxLayout="column" fxLayoutGap="50px">
  <div fxLayout="row" style="color: white;">
    <div fxFlex fxLayoutAlign="center">
      <mat-icon svgIcon="twitter"></mat-icon>
    </div>
    <div fxFlex fxLayoutAlign="center">
      <mat-icon svgIcon="facebook"></mat-icon>
    </div>
    <div fxFlex fxLayoutAlign="center">
      <mat-icon svgIcon="instagram"></mat-icon>
    </div>
    <div fxFlex fxLayoutAlign="center">
      <mat-icon svgIcon="googleplus"></mat-icon>
    </div>
  </div>
  <div id="grisFooter" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="10px">
    <div id="designBy">Design by: </div>
    <div>Armando Ibán & Iván Dominguez</div>
  </div>
</div>