#footer {
    border: 0px;
    border-top: 10px;
    border-style: solid;
    border-color: rgb(1, 110, 160);
    background-color:rgba(1, 110, 160, 0.781);
    padding-top: 30px;
    width: 100%;
}

#grisFooter {
    background-color: rgb(1, 110, 160);
    padding: 20px;
}

#designBy {
    color:white;
    font-weight: bold;
}
