<div class="container" fxLayout>
  <div class="navigatorPath" fxFlex="10%">

      <cdk-virtual-scroll-viewport class="gameNavigator" itemSize="100">
          <mat-tree class="leaf" [dataSource]="dataSource" [treeControl]="treeControl">
              <!-- This is the tree node template for leaf nodes -->
              <mat-tree-node class="leaf" *matTreeNodeDef="let node" matTreeNodePadding>
                <!-- use a disabled button to provide padding for tree leaf -->
                <button mat-icon-button disabled></button>
                <a id="tree" routerLink="/game/{{node.path}}">{{node.name}}</a>
              </mat-tree-node>
              <!-- This is the tree node template for expandable nodes -->
              <mat-tree-node class="leaf" *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                <button mat-icon-button matTreeNodeToggle
                        [attr.aria-label]="'toggle ' + node.name" (click)="tree.treeControl.collapseAll()">
                  <mat-icon class="mat-icon-rtl-mirror">
                    {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                  </mat-icon>
                </button>
                <a id="tree" routerLink="/{{node.path}}">{{node.name}}</a>
              </mat-tree-node>
            </mat-tree>
      </cdk-virtual-scroll-viewport>
      
  </div>  
  <div class="container" fxFlex fxLayoutAlign="center center">
        <router-outlet></router-outlet>
  </div>
</div>
